body {
	margin: 0 auto;

    width: 1000px;
    height: 500px;

    color: #333333;
    background-color: white;
	font-size: 16px;
	font-family: Helvetica, Arial, sans-serif;
}

nav {
	display: block;
    margin: auto 10px auto 0;
	height: 40px;
	padding: 0;
}

h1 {
    font-family: 'Tangerine', arial, serif;
    color: navy;
}

h2 {
    font-family: 'Tangerine', arial, serif;
    color: navy;
}

h3 {
    font-family: 'Tangerine', arial, serif;
    color: navy;
}

nav a {
	display: block;
	float: left;
	
	width: 250px;
	height: 40px;
	
	padding-top: 5px;
	
	vertical-align: middle;
	
    font-size: xx-large;
    font-family: 'Tangerine', arial, serif;
	
    color: #1060b6;
    text-decoration: none;
	text-align: center;
}

nav a:hover {
	background-color: #1060b6;
    color: white;
}

.scene {
	margin-top: 5px;
    height: 500px;
    width: 1000px;
    
    background-position: 0 0;
    background-repeat: no-repeat;
}

.scene > div {
    height: 500px;
    width: 1000px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.scroll1 {
    z-index: 1;
}

.scroll2 {
    z-index: 2;
    margin-top: -500px;
}

.moon {
    background-image: url(../img/darkfriendlyforest/moon.jpg);
}

.sky {
    background-image: url(../img/darkfriendlyforest/sky.png);
}

.forest {
    background-image: url(../img/darkfriendlyforest/forest.png);
}

.table {
    background-image: url(../img/table/table.jpg);   
}

.frame {
    background-image: url(../img/table/frame.png);
}

.decoration {
    background-image: url(../img/table/decoration.png);
}

pre {
	margin-top: 20px;
	border-left: 2px solid #d9d9d9;
	padding: 1em 2em;
	background-color: #595959;
}